# Data Science - Micro Projects
## Connecting to a Database in python
### Charles Mawusi - University of Bordeaux 

This project was completed as a part of the SQL module for joint certification in Data Science by IBM and Coursera.

## Introduction

This notebook illustrates how to access a DB2 database on Cloud using Python by following the steps below:
1. Import the `ibm_db` Python library
1. Enter the database connection credentials
1. Create the database connection
1. Close the database connection

In [1]:
pip install ibm_db

Requirement already satisfied: ibm_db in c:\users\mawus\anaconda3\lib\site-packages (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import ibm_db

In [3]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net"
dsn_uid = "jmc89407" 
dsn_pwd = "70@8j08876zvxnhz"    
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "50000"                 
dsn_protocol = "TCPIP"

## Create the DB2 database connection

In [4]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jmc89407;PWD=70@8j08876zvxnhz;

In [5]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  jmc89407 on host:  dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net

In [6]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [7]:

client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.01.0405
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

#### Creating Tables to be added to DB

In [8]:
drop_querry = "drop table INSTRUCTOR"
drop_statment = ibm_db.exec_immediate(conn, drop_querry)

In [9]:
create_querry = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE VARCHAR(20))"

creatstatment = ibm_db.exec_immediate(conn, create_querry)

In [10]:
insert_querry = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), (2, 'Raul', 'Chong', 'Markham', 'CA'),(3, 'Hima' , 'Vasudevan', 'Chicago', 'US')"

insert_statament = ibm_db.exec_immediate(conn, insert_querry)

In [11]:
select_querry= "select * from INSTRUCTOR "
select_statament = ibm_db.exec_immediate(conn, select_querry) 
data = ibm_db.fetch_both(select_statament)
data

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [12]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(select_statament) != False:
   print (" ID:",  ibm_db.result(select_statament, 0), " FNAME:",  ibm_db.result(select_statament, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [13]:
### now write and execute an update statement that changes the Rav's CITY to MOOSETOWN

update_querry = "update INSTRUCTOR set CITY= 'MOOSETOWN' where FNAME = 'Rav'"

updats_state = select_statament = ibm_db.exec_immediate(conn, update_querry)

In [14]:
select_querry= "select * from INSTRUCTOR "
select_statament = ibm_db.exec_immediate(conn, select_querry) 
data_new = ibm_db.fetch_both(select_statament)
data_new

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'MOOSETOWN',
 3: 'MOOSETOWN',
 'CCODE': 'CA',
 4: 'CA'}

##  Retrieving data stored as SQL into Pandas 

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [15]:
import pandas as pd 
import ibm_db_dbi

In [16]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [17]:
select_query= "select * from INSTRUCTOR"

dataframe = pd.read_sql(select_query,pconn )
print(dataframe)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [18]:
dataframe[dataframe["CCODE"]=="CA"]

   ID FNAME  LNAME       CITY CCODE
0   1   Rav  Ahuja  MOOSETOWN    CA
1   2  Raul  Chong    Markham    CA

In [19]:
ibm_db.close(conn)

True

# Mini Project on SQL

In [ ]:
pip install ipython

In [ ]:
%load_ext sql

In [ ]:
pip install ibm_db==2.0.8a

In [ ]:
%sql ibm_db_sa://jmc89407:70%408j08876zvxnhz@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

In [ ]:
{
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jmc89407;PWD=70@8j08876zvxnhz;",
  "host": "dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:8443",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB",
  "parameters": {},
  "password": "70@8j08876zvxnhz",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=jmc89407;PWD=70@8j08876zvxnhz;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://jmc89407:70%408j08876zvxnhz@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB",
  "username": "jmc89407"
}

In [ ]:
%sql select * from syscat.tables where tabschema = 'JMC89407'

In [ ]:
%sql select distinct(colname), typename, length from syscat.columns where tabname='CRIME'

In [ ]:
%sql select * from CENSUS limit 5

In [ ]:
%sql select count(ARREST) from CRIME where ARREST='TRUE'

In [ ]:
%sql select distinct(primary_type) as Uniquecrimes from CRIME where location_description='GAS STATION'

In [ ]:
%sql select NAME_OF_SCHOOL from PUBLIC_SCHOOLS where community_area_number BETWEEN 10 and 15 and healthy_school_certified='Yes'

In [ ]:
# Problem 7: What is the average school Safety Score?
%sql select avg(SAFETY_SCORE) as Averagesaftyscore from PUBLIC_SCHOOLS

In [ ]:
# Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].
%sql select community_area_name,  avg(COLLEGE_ENROLLMENT) as AVGENROLLMENT from PUBLIC_SCHOOLS \
group by community_area_name order by AVGENROLLMENT desc limit 5

In [ ]:
# Problem 9: Use a sub-query todetermine which Community Area has the least value for school Safety Score?
%sql select community_area_name from PUBLIC_SCHOOLS where SAFETY_SCORE=1

In [ ]:
# Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.
%sql select per_capita_income from \
CENSUS where COMMUNITY_AREA_NUMBER = (select distinct(COMMUNITY_AREA_NUMBER) \
from PUBLIC_SCHOOLS where SAFETY_SCORE=1)

In [ ]:
## Practice Part

In [ ]:
%sql select count(*) from PUBLIC_SCHOOLS where "Elementary, Middle, or High School" = 'ES'

In [ ]:
%sql select max(SAFETY_SCORE) as maxsafety from PUBLIC_SCHOOLS

In [ ]:
%sql select NAME_OF_SCHOOL, SAFETY_SCORE from PUBLIC_SCHOOLS where SAFETY_SCORE=99

In [ ]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from PUBLIC_SCHOOLS order by AVERAGE_STUDENT_ATTENDANCE desc nulls last limit 10

In [ ]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE as AVG \
from PUBLIC_SCHOOLS order by AVERAGE_STUDENT_ATTENDANCE \
asc nulls last limit 5

In [ ]:
%sql select NAME_OF_SCHOOL, replace(AVERAGE_STUDENT_ATTENDANCE, '%', ' ') as AVG \
from PUBLIC_SCHOOLS order by AVERAGE_STUDENT_ATTENDANCE \
asc nulls last limit 5

In [ ]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from PUBLIC_SCHOOLS where cast(replace(AVERAGE_STUDENT_ATTENDANCE, '%', ' ') as double)<70

In [ ]:
#Get the total College Enrollment for each Community Area
%sql select COMMUNITY_AREA_NAME, sum(COLLEGE_ENROLLMENT) as Total from PUBLIC_SCHOOLS group by COMMUNITY_AREA_NAME

In [ ]:
# Get the 5 Community Areas with the least total College Enrollment sorted in ascending order
%sql select COMMUNITY_AREA_NAME, sum(COLLEGE_ENROLLMENT) as Total from PUBLIC_SCHOOLS group by COMMUNITY_AREA_NAME order by Total asc limit 5

In [ ]:
# Get the hardship index for the community area which has College Enrollment of 4638
%%sql 
select  HARDSHIP_INDEX from CENSUS CS, PUBLIC_SCHOOLS PS
    where CS.COMMUNITY_AREA_NUMBER = PS.COMMUNITY_AREA_NUMBER
    and COLLEGE_ENROLLMENT=4638

In [ ]:
# Get the hardship index for the community area which has the highest value for College Enrollment
%%sql 
select  HARDSHIP_INDEX from CENSUS CS, PUBLIC_SCHOOLS PS
    where CS.COMMUNITY_AREA_NUMBER = PS.COMMUNITY_AREA_NUMBER
    and COLLEGE_ENROLLMENT = 4368