# Data Science - Micro Projects
## Connecting to a Database in python
### Charles Mawusi - University of Bordeaux 

This project was completed as a part of the SQL module for joint certification in Data Science by IBM and Coursera.

## Introduction

This notebook illustrates how to access a DB2 database on Cloud using Python by following the steps below:
1. Import the `ibm_db` Python library
1. Enter the database connection credentials
1. Create the database connection
1. Close the database connection

In [38]:
pip install ibm_db

Requirement already satisfied: ibm_db in c:\users\mawus\anaconda3\lib\site-packages (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import ibm_db

In [3]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net"
dsn_uid = "jmc89407" 
dsn_pwd = "70@8j08876zvxnhz"    
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "50000"                 
dsn_protocol = "TCPIP"

## Create the DB2 database connection

In [4]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jmc89407;PWD=70@8j08876zvxnhz;

In [5]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  jmc89407 on host:  dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net

In [6]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [7]:

client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.01.0405
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

#### Creating Tables to be added to DB

In [8]:
drop_querry = "drop table INSTRUCTOR"
drop_statment = ibm_db.exec_immediate(conn, drop_querry)

In [9]:
create_querry = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE VARCHAR(20))"

creatstatment = ibm_db.exec_immediate(conn, create_querry)

In [10]:
insert_querry = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), (2, 'Raul', 'Chong', 'Markham', 'CA'),(3, 'Hima' , 'Vasudevan', 'Chicago', 'US')"

insert_statament = ibm_db.exec_immediate(conn, insert_querry)

In [15]:
select_querry= "select * from INSTRUCTOR "
select_statament = ibm_db.exec_immediate(conn, select_querry) 
data = ibm_db.fetch_both(select_statament)
data

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [16]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(select_statament) != False:
   print (" ID:",  ibm_db.result(select_statament, 0), " FNAME:",  ibm_db.result(select_statament, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [17]:
### now write and execute an update statement that changes the Rav's CITY to MOOSETOWN

update_querry = "update INSTRUCTOR set CITY= 'MOOSETOWN' where FNAME = 'Rav'"

updats_state = select_statament = ibm_db.exec_immediate(conn, update_querry)

In [19]:
select_querry= "select * from INSTRUCTOR "
select_statament = ibm_db.exec_immediate(conn, select_querry) 
data_new = ibm_db.fetch_both(select_statament)
data_new

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'MOOSETOWN',
 3: 'MOOSETOWN',
 'CCODE': 'CA',
 4: 'CA'}

##  Retrieving data stored as SQL into Pandas 

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [24]:
import pandas as pd 
import ibm_db_dbi

In [25]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [28]:
select_query= "select * from INSTRUCTOR"

dataframe = pd.read_sql(select_query,pconn )
print(dataframe)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [29]:
dataframe[dataframe["CCODE"]=="CA"]

   ID FNAME  LNAME       CITY CCODE
0   1   Rav  Ahuja  MOOSETOWN    CA
1   2  Raul  Chong    Markham    CA

In [30]:
ibm_db.close(conn)

True

# Mini Project on SQL

In [1]:
pip install ipython

Requirement already satisfied: ipython in c:\users\mawus\anaconda3\lib\site-packages (7.6.1)
Requirement already satisfied: decorator in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (4.4.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (41.0.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (2.0.9)
Requirement already satisfied: pygments in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (2.4.2)
Requirement already satisfied: pickleshare in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (0.7.5)
Requirement already satisfied: backcall in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (0.13.3)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (0.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\mawus\anaconda3\lib\site-packages (from ipython) (4.3.2)
Requirement already satisfied: wcwidth in c:\users\mawus\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython) (0.1.7)
Requirement already satisfied: six>=1.9.0 in c:\users\mawus\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython) (1.12.0)
Requirement already satisfied: parso>=0.3.0 in c:\users\mawus\anaconda3\lib\site-packages (from jedi>=0.10->ipython) (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\mawus\anaconda3\lib\site-packages (from traitlets>=4.2->ipython) (0.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://jmc89407:70%408j08876zvxnhz@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])